<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wall/style.css' %}">
    <title>Wall Home Page</title>
</head>
<body>
    <div class="header">
        <h1>CodingDojo Wall</h1>
        <h5>Welcome {{users_info.first_name}}!</h5>
        <a href="/wall/flush">log off</a>
    </div>

    <div class="write_message" >
        <h4>Post a message</h4>
        <form action="/wall/message" method="POST">
            {% csrf_token %}
            <textarea name="message" id="message" cols="80" rows="4"></textarea>
            <button class="btn btn-primary">Post a message</button>
        </form>
    </div>

<div class="actual_comment">
    {% for message in all_messages reversed %}
        <h3>{{message.poster.first_name}} {{message.poster.last_name}} {{message.updated_at}}</h3>
        <h5>{{message.message}}</h5>
        <div class="posted_info">
            <div class="delete_comment">
                <form action="/wall/delete/{{message.id}}" method="POST">
                    {% csrf_token %}
                    {% if users_info.id == message.poster.id %}
                        <a href="/wall/delete/{{message.id}}">Delete</a>
                    {% endif %}
                </form>
            </div>
        </div>
            {% for comment in message.comments.all %}
                <h6>{{comment.comment}}</h6>
            {% endfor %}
            <div class="write_comment"> 
                <h6>Post a comment</h6>
                <form action="/wall/comment/{{message.id}}" method="POST">
                    {% csrf_token %}
                    <textarea name="comment" id="comment" cols="50" rows="1"></textarea>
                    <button class="btn btn-dark btn-sm">Post a comment</button>
                </form>
            </div>
    {% endfor %}
</div>
</body>
</html>